{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <h1>{{ episode.title }}</h1>
    <p>{{ episode.synopsis }}</p>
    <br>
    <br>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}